{% extends "_base.html" %}
{% load static %}
{% load socialaccount %}
{% block title %}Log In{% endblock title %}
{% block extra_css %} <link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock extra_css %}
{% block slider %}{% endblock slider %}
{% block content %}
<div class="login_container">
    <div class="login_container2">
        <h2>Iniciar Sesión</h2>
        <p> Si ya tienes una cuenta con nosotros, por favor inicia sesión.</p>
        <form method="post">
        {% csrf_token %}
        <div>
            <label ><i class="fa-solid fa-envelope"></i></label>
            {{ form.login }}
        </div>
        <div>
            <label ><i class="fa-solid fa-lock"></i></label>
              {{ form.password }}  
            
        </div>
        <button  class="boton_login" type="submit">Log In</button>
        </form> 
        <div class="boton_login2">
            <a  href="{% provider_login_url 'google' %}"  role="button" aria-pressed="true"><i class="fa-brands fa-google"></i>  -Ingresar con  Google</a>
        </div>
         

    </div>
</div>

{% endblock content %}
{% block extrajs %}{% endblock extrajs %}